html {
  font-size: 62.2%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  & #labelValue {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
  }

  & #buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & button {
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      color: white;
      background-color: rgb(86, 86, 255);
      font-size: 700;
      transition: 1s;
      font-size: 1.5rem;
    }

    & button:hover {
      background-color: rgb(28, 28, 248);
    }
  }
}
